@import url("theme.css");

* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: @bar-bg;
  color: @text;
  border-top: 1px solid @border;
}

#workspaces button {
  padding: 1px 6px 0 6px;
  background: transparent;
  border: none;
  border-right: 1px solid @border;
  border-radius: 0;
  color: @text;
}

#workspaces button:hover {
  background: @module-bg;
  border: none;
  border-right: 1px solid @border;
  color: @text;
}

#workspaces button.focused,
#workspaces button.active {
  background: @module-bg;
  border: none;
  border-right: 1px solid @border;
  color: @text;
}

#workspaces button.urgent {
  background-color: @urgent;
}

#mode {
  padding: 1px 6px 0 6px;
  background: transparent;
  border: none;
  border-right: 1px solid @border;
  color: @text;
}

#custom-apps,
#custom-darkman,
#clock,
#cpu,
#memory,
#pulseaudio,
#tray,
#power-profiles-daemon {
  padding: 1px 8px 0 8px;
  background: @module-bg;
  border: none;
  border-right: 1px solid @border;
  color: @text;
}

.modules-left {
  margin: 0;
}

.modules-center {
  margin: 0;
  border-left: 1px solid @border;
}

.modules-right {
  margin: 0;
  border-left: 1px solid @border;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @urgent;
}
